.container{
    width: 100%;
}
.nav{
    height: 60px;
    vertical-align: middle;
    background: #2E2E2E;
    box-shadow: 0 4px 10px #929192;
}
.log-box{
    line-height: 58px;
}
.log-box img{
    height: 55px;
}
.log-box span{
    font-size: 20px;
    color: #E9D342;
    font-weight: bold;
}
.nav-rg{
    text-align: right;
    line-height: 60px;
}
.exponent-box{
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 20px;
}
.date-box{
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    color: #FEFEFE;
    font-size: 16px;
    margin-right: 20px;
}
.exponent-box span,.date-box span{
    margin-right: 10px;
}
.exponent-box b{
    line-height: 30px;
    vertical-align: middle;
    color: #FEFEFE;
    font-size: 16px;
}
.exponent-box i{
    margin-right: 5px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 38px;
}
.exponent-box span:nth-child(1) i{
    background: url("../image/icon_nav.png") no-repeat 12px -6px;
}
.exponent-box span:nth-child(2) i{
    background: url("../image/icon_nav.png") no-repeat -23px -6px;
}
.exponent-box span:nth-child(3) i{
    background: url("../image/icon_nav.png") no-repeat -60px -6px;
}
/*-----------页面主体*/
.main{
    /*background: url("../image/main-bg.png") no-repeat;*/
    min-height: 708px;
    background-size:100%;
}
.warning-bar{
    height: 120px;
    background-image: linear-gradient(#FDD186 0%,#F2A868 100%);
    border: 1px solid transparent;
    box-shadow: 0 4px 10px #929192;
}
.warning-box{
    width: 50%;
    height: 120px;
    margin: 0 auto;
}
.warning-icon{
    float: left;
    width: 50%;
    height: 120px;
    line-height: 65px;
}
.warning-icon{
    margin: 0 auto;
    height: 120px;
    vertical-align: middle;
    text-align: center;
}
.warning-icon b{
    display: inline-block;
    height: 65px;
    width: 62px;
    line-height: 120px;
    vertical-align: middle;
    background: url("../image/jinggao.png") no-repeat 0px 2px ;
}
.warning-icon span.warning{
    font-size: 20px;
    color:#F31E43;
    font-weight: bold;
    line-height: 120px;
}
.warning-info{
    text-align: left;
    float: left;
    width: 50%;
    height: 120px;
    padding: 10px;
}
.warning-info p{
    /*margin-left: 15px;*/
    font-size: 15px;
    margin: 10px 0;
    color:#F31E43;
    font-weight: bold;
}
.main-manager{
    background: #F5F5F5;
    padding: 25px 0;
    box-shadow: 0px 2px 3px #999 inset;
}
.manager-box{
    margin: 0 auto;
    /*min-width: 390px;*/
    width: 610px;
}
.manager-lt{
    text-align: center;
    float: left;
    width: 200px;
    height: 170px;
    padding-top: 10px;
    border-right:2px solid #D8D9D8;
    border-bottom:2px solid #D8D9D8;
    color: #8F938F;
}
.manager-lt b{
    display: inline-block;
    width: 97px;
    height: 111px;
}
.manager-box .manager-lt:nth-child(1) b{
    background: url("../image/dengguang.png") no-repeat;
}
.manager-box .manager-lt:nth-child(2) b{
    background: url("../image/shuibeng.png") no-repeat;
}
.manager-box .manager-lt:nth-child(3) b{
    background: url("../image/kongtiao.png") no-repeat;
}
.manager-box .manager-lt:nth-child(4) b{
    background: url("../image/fengji.png") no-repeat;
}
.manager-box .manager-lt:nth-child(5) b{
    background: url("../image/menjing.png") no-repeat;
}
.manager-box .manager-lt:nth-child(6) b{
    background: url("../image/jiankong.png") no-repeat;
}
.manager-box .on:nth-child(1) b{
background: url("../image/dengguang1.png") no-repeat;
}
.manager-box .on:nth-child(2) b{
background: url("../image/shuibeng1.png") no-repeat;
}
.manager-box .on:nth-child(3) b{
background: url("../image/kongtiao1.png") no-repeat;
}
.manager-box .on:nth-child(4) b{
background: url("../image/fengji1.png") no-repeat;
}
.manager-box .on:nth-child(5) b{
background: url("../image/menjing1.png") no-repeat;
}
.manager-box .on:nth-child(6) b{
background: url("../image/jiankong1.png") no-repeat;
}
.manager-lt p{
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}
.manager-box .on p{
    color: #FFCF85;
}
.manager-box .manager-lt:nth-child(3),.manager-box .manager-lt:nth-child(6){
    border-right:0;
}
.manager-box .manager-lt:nth-child(4),.manager-box .manager-lt:nth-child(5),.manager-box .manager-lt:nth-child(6){
    border-bottom:0;
}
/*情景模式盒子*/
.contextual-model{
    height: auto;
}
.modal-box{
    width: 86%;
    margin: 0 auto;
}
.modal-line{
    margin: 10px 0;
    background:#F0F0F0;
    height: 2px;
}
.modal-tit h3{
    padding-left: 10px;
    font-size: 16px;
    color: #F69C3B;
    text-align: left;
    font-weight: bold;
}
.modal-info-box{
    display: inline-block;
    /*float: left;*/
    width:13%;
    text-align: center;
    color: #8D8787;
}
.modal-info{
    text-align: center;
}
.modal-info-box b{
    margin-top: 10px;
    display:inline-block;
    height: 60px;
    width: 90px;
}
.modal-info-box p{
    font-size: 15px;
    letter-spacing:5px;
    font-weight: bold;
}

.modal-info .modal-info-box:nth-child(1) b{
    background: url("../image/huo.png") no-repeat 0 0;
}
.modal-info .modal-info-box:nth-child(2) b{
    background: url("../image/shuijing.png") no-repeat 0 0;
}
.modal-info .modal-info-box:nth-child(3) b{
    background: url("../image/hujiao.png") no-repeat 0 0;
}
.modal-info .modal-info-box:nth-child(4) b{
    background: url("../image/ruqing.png") no-repeat 0 0;
}
.modal-info .modal-info-box:nth-child(5) b{
    background: url("../image/jingbao.png") no-repeat 0 0;
}
.modal-info .modal-info-box:nth-child(6) b{
    background: url("../image/chefang.png") no-repeat 0 0;
}
.modal-info .modal-info-box:nth-child(7) b{
    background: url("../image/zidingyi.png") no-repeat 0 0;
}
.modal-info .active:nth-child(1) b{
background: url("../image/huo1.png") no-repeat 0 0;
}
.modal-info .active:nth-child(2) b{
background: url("../image/shuijing1.png") no-repeat 0 0;
}
.modal-info .active:nth-child(3) b{
background: url("../image/hujiao1.png") no-repeat 0 0;
}
.modal-info .active:nth-child(4) b{
background: url("../image/ruqing1.png") no-repeat 0 0;
}
.modal-info .active:nth-child(5) b{
background: url("../image/jingbao1.png") no-repeat 0 0;
}
.modal-info .active:nth-child(6) b{
background: url("../image/chefang1.png") no-repeat 0 0;
}
.modal-info .active:nth-child(7) b{
background: url("../image/zidingyi1.png") no-repeat 0 0;
}
.modal-info .active p{
color: #DD8B35;
}

.on{
    position: relative;
    display: block;
    overflow: hidden;
    box-shadow:inset 0 0 5px 5px #ffeccd;
    color: #FFCF85;
}
@keyframes myfirst
{
    0%   {left: 0px;}
    100% {left: 180px;}
}
.on .light{
    cursor:pointer;
    position: absolute;
    top: 0;
    width: 10px;
    height: 170px;
    background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
    background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
    animation-name:myfirst;
    animation-duration:2s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    transform: skewx(-25deg);
    -o-transform: skewx(-25deg);
    -moz-transform: skewx(-25deg);
    -webkit-transform: skewx(-25deg);
}
.guanli{
    text-align: center;
}
.main-lf-btn{
    display: inline-block;
    width: 15%;
    float: left;
    margin-top: 80px;
    margin-left: 1%;
}
.main-rg-tb{
    display: inline-block;
    float: left;
    margin-top: 80px;
    margin-left: 4%;
}
.system-btn{
    margin: 8% auto 0;
    display: block;
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #E9C49B;
    border-radius: 10px;
    font-size: 1.7rem;
    letter-spacing:1px;
    color: #797878;
    outline:none;
    box-shadow: 0px 4px 4px #fdf1de;
}
.system-btn:hover{
    background: #FDC77A;
    color: #fff;
    outline:none;
    box-shadow: 0px 5px 6px #ffedd3;
}
.table1{
    width: 100%;
    height: 80px;
    position: relative;
}
.table1 .ul-box{
    display: inline-block;
    float: left;
    width: 600px;
    overflow: hidden;
    height: 80px;
}
.table1 ul{
    width: 100px;
    list-style: none;
    float: left;
    padding: 0;
}
.table1>ul li{
    background:linear-gradient(#ffe6be,#fcce9e);
    letter-spacing:2px;
    border-left: 1px solid #F7BB7E;
    border-top: 1px solid #F7BB7E;
}
.table1 li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #81694C;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #F7BB7E;
    border-right:1px solid #F7BB7E;;
}
.table1 .ul-box ul:nth-child(-n+6) li:nth-child(2){
    border-top: 1px solid #F7BB7E;
    /*border-right:1px solid #F7BB7E;*/
}
.table2{
    width: 700px;
    margin-top: 20px;
    box-sizing: border-box;
}
.table2 tr{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.table2 th,.table2 td{
    text-align: center;
}
.table2 thead tr:nth-child(1) th{
    background:linear-gradient(#ffe2b3,#f8c48e);
}
.main-rg-tb .table2 {
    border: 2px solid #F7BB7E;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #F7BB7E;
}
.table2 input{
    height: 30px;
    vertical-align: middle;
    width: 80%;
    border: 1px solid #F0D193;
    padding-left: 5px;
    line-height: 30px;
    text-align: center;
    border-radius:2px;
}
.lf-move,.rg-move{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    display: none;
    line-height: 50px;
}
.lf-move{
    top: 17px;
    left: -50px;
}
.rg-move{
    top: 17px;
    right: -50px;
}
.lf-move span,.rg-move span{
    font-size: 20px;
    color: #F7BB7E;
}
.in{
    display: inline-block;
}
.null{
    display: none;
}
.user-info{
    margin-top: 0;
}
.user-info tr {
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.main .table1 th,.main .table2 th{
    font-size: 18px;
    font-weight: normal;
}

.sunken-2{
    color: #DE8B36;
}
.camera-into{
    width: 50%;
    float: left;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}
.camera-into div{
    display: inline-block;
    height: 34px;
    border: 2px solid #fdc56e;
    /* background-image: linear-gradient(#dcdcdc 0%,#767777 100%); */
    color: #FDC56E;
    box-shadow: 0px 8px 12px #fdf1de;
    line-height: 32px;
    padding: 0 20px;
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
}
.camera-into div:hover{
    background-image: linear-gradient(#fde4a4 0%,#f3be6b  100%);
    box-shadow: 0px 8px 12px #f7e5ca;
    color: #fff;
}
.btn-box{
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 10px;
    height: 40px;
}
.btn-box .system-btn{
    float: right;
    margin:0 20px!important;
    letter-spacing: 0px;
}
.table-box2 {
    width: 100%;
    overflow-x:hidden ;
    overflow-y: auto;
    height: 114px;
}
.table-box1 {
    position: relative;
}
.table-box2 table{
    margin-top: 0;
}
.scroll-add {
    height: 44px;
    background: #F1F1F1;
    /*-webkit-box-shadow: inset 0 0 6px rgba(154, 154, 154, 0.3);*/
    /*box-shadow: inset 0 0 6px rgba(154, 154, 154, 0.3);*/
    float: left;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
}
.modal-title{
    text-align: left;
}
.pop-main .col-xs-12{
    height: 60px;
    line-height: 60px;
}
.pop-main .col-xs-12 span{
    display: inline-block;
    width: 100px;
    text-align: left;
    font-size: 15px;
}
.pop-main .col-xs-12 input{
    height: 34px;
    border-radius: 2px;
    border: 2px solid #fdcfa0;
    text-align: center;
    font-size: 14px;
}
.pop-main .col-xs-4  .btn{
    width: 85px;
    height: 38px;
}
.pop-main .col-xs-4 .btn:hover{
    background-image: linear-gradient(#fde4a4 0%,#f7b040 100%);
    box-shadow: 0px 8px 12px #f7e5ca;
    color: #fff;
    border: 0;
}
.table2 td{
    height: 40px;
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    width: 100%;
    background: rgba(179, 179, 179, 0.1);
    text-align: center;
    vertical-align: middle;
    display: none;
    height:100%
}
.loading img,.menu-loading img{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.loading img{
    width: 100px;
}
.loadingin{
    display: block!important;
}
/*.menu-box{*/
    /*margin: 8% auto 0;*/
    /*width: 600px;*/
    /*text-align: center;*/
/*}*/
/*.menu-box-info{*/
    /*display: inline-block;*/
    /*height: 150px;*/
    /*width: 150px;*/
    /*margin: 20px;*/
    /*/!*border: 1px solid #cecece;*!/*/
    /*/!*background: #fdfdfd;*!/*/
    /*/!*box-shadow: inset 0px 0px 18px #b3b3b3;*!/*/
    /*border: 1px solid #f9dcad;*/
    /*background: #fdfdfd;*/
    /*box-shadow: inset 0px 0px 18px #ffdca3;*/
    /*border-radius: 5px;*/
/*}*/
/*--------------------------*/
.demo{
    padding: 2em 0;
    transform: translate3d(0, 0, 0);
}
.navbar{
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    background: #eaeaea;
    margin: 18% auto;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    color: #777571;
    transition: 0.24s 0.2s;
}
.menu-on .navbar{
    background: rgba(243, 243, 243, 0.75);
    color: #bbbaba;
}
.navbar .menu{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -75px;
    left: -75px;
    border: 150px solid transparent;
    cursor: default;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -1;
}
.menu-on .navbar .menu{
    transition: transform 0.4s 0.08s, z-index   0s  0.5s;
    transform: scale(1);
    z-index: 1;
}
.navbar .menu li{
    position: absolute;
    top: -200px;
    left: -150px;
    transform-origin: 150px 200px;
    transition: all 0.5s 0.1s;
}
.menu-on .navbar:hover .menu li{
    transition: all 0.6s;
}
.menu li a{
    border: 2px solid #FDC56F;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    font-size: 18px;
    color: #e29b2b;
    transition: 0.6s;
    box-shadow: 0px 0px 12px #d8ac68;
    letter-spacing: 0.1em;
    text-decoration:none;
}
.menu-on .navbar .menu li:nth-child(1){
    transition-delay: 0.02s;
    transform: rotate(30deg);

}
.menu-on .navbar .menu li:nth-child(1) a{
    transition-delay: 0.04s;
    transform: rotate(-30deg);
}
.menu-on .navbar .menu li:nth-child(1) .menu-tip{
    transition-delay: 0.04s;
    transform: rotate(-30deg);
    left: 102px;
    top: -138px;
}
.menu-on .navbar .menu li:nth-child(2){
    transition-delay: 0.04s;
    transform: rotate(102deg);
}
.menu-on .navbar .menu li:nth-child(2) a{
    transition-delay: 0.08s;
    transform: rotate(258deg);
}
.menu-on .navbar .menu li:nth-child(2) .menu-tip{
    transform: rotate(258deg);
    left: -102px;
    top: -227px;
}
.menu-on .navbar .menu li:nth-child(3){
    transition-delay: 0.06s;
    transform: rotate(174deg);
}
.menu-on .navbar .menu li:nth-child(3) a{
    transition-delay: 0.12s;
    transform: rotate(546deg);
}
.menu-on .navbar .menu li:nth-child(3) .menu-tip{
    transform: rotate(546deg);
    left: -318px;
    top: -49px;
}
.menu-on .navbar .menu li:nth-child(4){
    transition-delay: 0.08s;
    transform: rotate(246deg);
}
.menu-on .navbar .menu li:nth-child(4) a{
    transition-delay: 0.16s;
    transform: rotate(475deg);
}
.menu-on .navbar .menu li:nth-child(4) .menu-tip{
    transform: rotate(474deg);
    left: -25px;
    top: -210px;
    text-align: right;
}
.menu-on .navbar .menu li:nth-child(5){
    transition-delay: 0.1s;
    transform: rotate(318deg);
}
.menu-on .navbar .menu li:nth-child(5) a{
    transition-delay: 0.2s;
    transform: rotate(403deg);
}
.menu-on .navbar .menu li:nth-child(5) .menu-tip{
    transform: rotate(402deg);
    left: -269px;
    top: -122px;
    text-align: right;
}
.menu-tip{
    position: absolute;
    width: 320px;
    height:50px;
    line-height: 44px!important;
    background: transparent;
    border: 2px solid #FFCF85;
    color: #e29b2b;
    text-align: left;
    border-radius: 25px 5px 25px 5px ;
    box-shadow: 0px 0px 12px #f7ce8e;
}
.navbar .menu-tip span{
    font-size: 16px;
    font-weight: normal;
    margin: 0 10px;
    line-height: 50px;
}
.menu li:hover a{
    background: #f9cd89;
    color: #fff;
}
.menu li:hover .menu-tip{
    background: #fdf7ed;
}
.back .system-btn{
    margin: 0 50px 0 0;
    float: right;
}
