body{
    width: 100%;
    height: 100%;
    /*background: url("../image/body-bg.jpg") repeat;*/
    background: #efeded;
    margin-bottom: 50px;
}
.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#banner .item img{
    width: 100%;
}
.banner-nav{
    position: relative;
}
.nav-box{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15px;
    z-index: 100;
}
.search-box{
    display: inline-block;
    width: 70%;
    max-width: 500px;
    height: 36px;
    background:#fff;
    border-radius: 18px;
    text-align: left;
}
.search-box span{
    display: inline-block;
    width: 12%;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    vertical-align: top;
}
.search-box input{
    display: inline-block;
    width: 80%;
    height: 80%;
    vertical-align: super;
    border: 0;
    outline:none;
}
/*页面滚动*/
.menu-button .device {
    width: 100%;
    height: 205px;
    position: relative;
    padding-top: 5px;
    box-sizing: border-box;
}
/*.device .arrow-left {*/
    /*background: url(img/arrows.png) no-repeat left top;*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*top: 50%;*/
    /*margin-top: -15px;*/
    /*width: 17px;*/
    /*height: 30px;*/
/*}*/
/*.device .arrow-right {*/
    /*background: url(img/arrows.png) no-repeat left bottom;*/
    /*position: absolute;*/
    /*right: 10px;*/
    /*top: 50%;*/
    /*margin-top: -15px;*/
    /*width: 17px;*/
    /*height: 30px;*/
/*}*/
.menu-button .swiper-container {
    height: 200px;
    width: 100%;
}
.menu-button .content-slide {
    padding: 20px;
    color: #fff;
}
.menu-button .title {
    font-size: 25px;
    margin-bottom: 10px;
}
.menu-button .pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:5px;
    width: 100%;
}
 .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    /*box-shadow: 0px 1px 2px #555 inset;*/
    margin: 0 3px;
    cursor: pointer;
    border: 1px solid #999;
}
.swiper-active-switch {
    background: #999;
}
.button-box{
    float: left;
    width: 25%;
    height: 100px;
    text-align: center;
}
.button-box>div{
    margin: 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 10px;
    position: relative;
}
.button-box>div>b{
    position: absolute;
    background: red;
    color: #fff;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    font-size: 14px;
    display: inline-block;
    border-radius: 8px;
    font-weight: normal;
}
.button-box>div img{
    height: 55%;
    vertical-align:middle;
    margin-top: 20%;
}
.button-box p{
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: 0;
    color: #2b2727;
}
.button-box:nth-child(1) div{
    background: #28CC5F;
}
.button-box:nth-child(2) div{
    background: #EC1D23;
}
.button-box:nth-child(3) div{
    background: #7E4BE5;
}
.button-box:nth-child(4) div{
     background: #FE960E;
}
.button-box:nth-child(5) div{
    background: #FAC600;
}
.button-box:nth-child(6) div{
    background: #1D92E3;
}
.button-box:nth-child(7) div{
    background: #F63C86;
}
.button-box:nth-child(8) div{
    background: #00D2BD;
}
.menu-button{
    background: #fff;
}
.menu-button .pagination{
    height: 30px;
    position: relative;
    margin: 0;
    background: #fff;
    border-radius:0;
}
.banner-nav .carousel-indicators{
    bottom: 0;
}

.tab-change{
    width: 100%;
    margin-top: 26px;
    background: #fff;
}
.tabs {
    width: 100%;
}
.tabs a{
    display: block;
    float: left;
    width: 33.3%;
    color: #C9C9C9;
    text-align: center;
    margin: 0;
    background: #fff;
    line-height: 32px;
    font-size: 16px;
    text-decoration: none;
}
.tabs a span{
    padding-left: 23px;
    display: inline-block;
    line-height: 22px;
}
.tabs a:nth-child(1) span{
    background: url("../image/date-1.png") no-repeat;
}
.tabs a:nth-child(2) span{
    background: url("../image/date-2.png") no-repeat;
}
.tabs a:nth-child(3) span{
    background: url("../image/date-3.png") no-repeat;
}
.tabs a.active {
    color: #F25528;
    border-bottom: 2px solid #F25528;
}
.tabs a.active:nth-child(1) span{
    background: url("../image/date-1-1.png") no-repeat;
}
.tabs a.active:nth-child(2) span{
    background: url("../image/date-2-1.png") no-repeat;
}
.tabs a.active:nth-child(3) span{
    background: url("../image/date-3-1.png") no-repeat;
}
.tab-change .swiper-container{
    height: auto;
    max-height: 350px;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
    width: 100%;
    border-top: 0;
}
.swiper-slide {
    height: 250px;
    width: 640px;
    background: none;
    color: #6c6c6c;
}
.tabs img{
    height: 18px;
    padding-right: 5px;
    vertical-align: sub;
}
.content-slide {
    padding: 10px 10px 20px 10px;
    position: relative;

}
.add-btn{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: #F25528;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    z-index: 100;
    box-shadow: 0px 3px 20px #e49e8a;
}
.add-btn img{
    width: 50%;
}
.content-slide h4{
    font-size: 16px;
}
.item-box{
    width: 92%;
    margin: 12px auto;
    background: #f1f0f1;
    box-sizing: border-box;
    padding: 5px 10px;
    line-height: 22px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #b9b5b5;
}
.item-box img{
    width: 22px;
}
.item-box2{
    width: 95%;
    margin: 10px auto;
    background: #f5ede8;
    box-sizing: border-box;
    padding: 5px 10px;
}
.item-box2-lf{
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: top;
}
.item-box2-lf img{
    width: 80%;
    vertical-align: middle;
}
.item-box2-rg{
    display: inline-block;
    width: 78%;
}

@media (max-width: 1000px) {
    .item-box2-lf{
        width: 30%;
    }
    .item-box2-rg{
        width: 68%;
    }
}
.item-box3{
    width: 92%;
    margin: 12px auto;
    background: #f5f5f5;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #cacaca;
}
.item-box3-lf{
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: top;
}
.item-box3-rg{
    display: inline-block;
    width: 78%;
}
.item-box3-rg p{
    margin: 0;
    line-height: 29px;
    vertical-align: middle;
}
.item-box3-rg p i{
    display: inline-block;
    width: 45px;
    font-style: normal;
    color: #797575;
    vertical-align: middle;
}
.item-box3-rg p b{
    line-height: 29px;
    display: inline-block;
    width: 80px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.yuan{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: 1px solid #dadada;
    background: transparent;
    display: inline-block;
}
.yuan img{
    height: 60%;
    margin-top: 18%;
}
.common-use{
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 10px 20px 10px;
}
.common-use:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.common-use h4{
    font-size: 16px;
    color: #F25528;
}
.common-use-info{
    width: 92%;
    background: #f5f5f5;
    margin: 15px auto;
    padding: 10px;
    box-sizing: border-box;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #bbb9b9;
}
.common-use-info img{
    height: 20px;
    text-align: center;
}
.common-use-info i{
    display: inline-block;
    width: 40px;
    font-style: normal;
    color: #797575;
    text-align: center;
}
.common-use-info b{
    display: inline-block;
    width: 30px;
    margin-right: 5px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: center;
}
@media (min-width: 1100px) {
    .container{
        width: 1100px!important;
        margin: 0 auto;
    }
    .nav-box{
        top: 20px;
    }
    .item-box{
        width: 90%;
        line-height: 30px;
    }
    .item-box img{
        width: 30px;
    }
}
@media (min-width: 700px){
    .common-use-info{
        float: left;
        width: 46%;
        margin: 15px 2%;
    }
}
/*模态框样式*/
.modal-box .modal-header h4{
    color: #F25528;
    text-align: center;
    font-size: 17px;
}
.modal-box .modal-body{
    padding: 0;
}
.modal-body .pop-line,.modal-body .pop-line1{
    margin: 0 auto;
    line-height: 35px;
    /*border-bottom:1px solid #E3E3E3 ;*/
}
.modal-body .pop-line span,.pop-line1 span{
    display: inline-block;
    width: 80px;
    text-align: left;
    margin-left: 5%;
    color: #969696;
}
.modal-body .pop-line input,.pop-line1 input{
    width: 150px;
    height: 28px;
    border: 1px solid #969696;
}